<h1> Checklist for your Event! </h1>
<table style="width:100%" border=1>
<thead>
<tr>
<th> Checklist Item ID: </th>
<th> Description: </th>
</tr>
</thead>

<select name="checklistitem_id">
  <% CheckListItem.all.all.each do |checklistitem| %>
<option value="<%= checklistitem.id %>"><%= checklistitem.name %></option>
  <% end %>
  </select>

<tr> 
<td> <%= checklistitem.id %> </td>
<td> <%= checklistitem.description %> </td>

</tr>
</table>

