<h1>Edit Event</h1>
<%= form_tag "/events/#{@event.id}", method: :patch do %>
  <div>
    Description: <input type="text" name="description" value=" <%= @event.description %>">
  </div>
  <div>
    Event type:
    <select name="event_type_id">
      <% EventType.all.each do |event_type| %>
        <option value="<%= event_type.id %>"><%= event_type.name %></option>
      <% end %>
    </select>
  </div>
  <input type="submit" value="Update Event">
<% end %>