<h1> Your GuestList: </h1>
<table style="width:100%" border=1>
<tr> 
<thead>
<th> Guest List ID: </th>
<th> Guest Name: </th>
<th> Status: </th>
<th> Your Event ID: </th>


<% @guestlists.each do |guestlist| %>
<tr>
<td> <%= guestlist.id %> </td> 
<td> <%= guestlist.name %> </td> 
<td> <%= guestlist.status %> </td>
<td><%= guestlist.event_id %> </td> 
<% end %>
</tr>
</table>