<h1> Your GuestList: </h1>
<% if current_user %>

  <table style="width:100%" border=1>
 
<thead>
<tr>
  
  <th> Guest Name: </th>
  <th> Status: </th>
  <th> Event: </th>
</tr>
</thead>

<% @guestlists.sort.each do |guestlist| %> 
<tr>
  
  <td>
    <%= guestlist.name %>
  </td> 
  <td>
    <%= guestlist.status %></a>
  </td> 
  <td>
    <%= guestlist.event_id %>. <%= guestlist.event.description %>  
  </td> 
<% end %>
<% end %>
</tr>


</table>
