<h1> Welcome to Event Planner App! </h1>
<% @event_types.each do |eventtype| %>
<p> Name : <a href="/eventtypes/<%= eventtype.id %>"> <%= eventtype.name %> </a></p> 
<p> Info: <%= eventtype.description %> </p> 
<% end %>
