<h1>New Event</h1>
<%= form_tag "/eventtypes", method: :post do %>
  <div>
   User Name: <input type="text" name="form_user_name">
  </div>
  <div>
    Describe your event in brief: <input type="text" name="form_description">
  </div>
  <div>
    Event type:
    <select name="event_type_id">
      <% EventType.all.each do |event_type| %>
        <option value="<%= event_type.id %>"><%= event_type.name %></option>
      <% end %>
    </select>
  </div>
  <input type="submit" value="Submit">
<% end %>