// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: black;
  font-size: 40px;


}

.white-text {
  color: white !important;
}

.nav-logo {
  height: 50px;
  width: auto;
}

.newevent {
  color: #82095f;
  font-family: 'Rochester', cursive;
}

